[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0"
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
django-cors-headers = "*"
pillow = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
